<div class="contact-us-main-container">
    <div class="main-container">
        <div class="contact-us-container">
            <div class="contact-us-title">
                <p >let's discuss making your interior like a dream place!</p>
            </div>
           
            <div class="contact-us-info">
                <p class="contact-us-info-text">Contact us below to work together to build your amazing interior</p>
                <button class="contact-us-btn cta-btn">Contact Us</button>
            </div>
        </div>
    </div>
</div>