<div class="main-container details">
    <div class="hero">
        <h1 class="hero-title">Minimalist Room</h1>
        <p class="hero-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    </div>

    <div class="hero-img-container">
    </div>

    <div class="info-container">
        <div class="overview">
            <h2 class="overview-title">
                Project Overview
            </h2>

            <p class="overview-text">
                Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
                 Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
                Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. 
            </p>

            <div class="overview-info">
                <p class="overview-info-date">July 22 - 2022</p>
                <p class="overview-info-name">Interior Design - Furniture</p>
            </div>
            

        </div>
        <div class="process">

            <h2 class="process-title">
                Design Process
            </h2>

            <p class="process-text">
                Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
                 Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
            </p>
            <p class="process-text">
                Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
                 Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
            </p>
        </div>
    </div>
</div>