<div class="main-container">
    <div class="footer-logo">
    <div class="footer-logo-container">
        <a>
            <img src="../../../assets/icon/Dananz.svg" alt="logo" class="footer-logo-img">
        </a>
        <p class="footer-logo-text">
        One of the best furniture agency.
        </p>
    </div>

    <div class="footer-form">
        <div class="footer-form-title">

            <div class="footer-circle-text">
                <a>
                    <img src="../../../assets/icon/ellipse.svg" alt="logo" class="footer-circle">
                </a>
    
                <p class="footer-form-label">Enter  your email to get the laterst news</p>
            </div>
           
            <div class="input-container">
                <input type="text" placeholder="Email Address" class="input-email">
                <img src="../../../assets/icon/arrow-submit.svg" alt="logo" class="submit-icon">
            </div>
           
            
        </div>

        <div class="social-container">

            <p class="follow-us-text">Follow us On</p>
            <div class="icon-container">
            <span class="social-icon"><img src="../../../assets/icon/facebook.svg" alt="logo"></span>
            <span class="social-icon"><img src="../../../assets/icon/instagram.svg" alt="logo"></span>
            <span class="social-icon"><img src="../../../assets/icon/tiktok.svg" alt="logo"></span>
            <span class="social-icon"><img src="../../../assets/icon/youtube.svg" alt="logo"></span>
            </div>
            
        </div>
    </div>
</div>
</div>