<div class="main-container">
    <div class="gallery">
            <img src="../../../assets/images/gallery-1.png" alt="gallery pic 1" class="gallery-pic gallery-pic--1">
        
            <img src="../../../assets/images/gallery-2.png" alt="gallery pic 2" class="gallery-pic gallery-pic--2">
       
            <img src="../../../assets/images/gallery-3.png" alt="gallery pic 3" class="gallery-pic gallery-pic--3">
    
            <img src="../../../assets/images/gallery-4.png" alt="gallery pic 4" class="gallery-pic gallery-pic--4">
    
            <img src="../../../assets/images/gallery-5.png" alt="gallery pic 5" class="gallery-pic gallery-pic--5">
    </div>
</div>