<input type="checkbox" id="menu-toggle" class="menu-toggle">
    <header class="header main-container">
        <label for="menu-toggle" class="hamburger-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </label>
        <a href="#">
            <img src="../../../assets/icon/Dananz.svg" alt="logo" class="logo">
        </a>
        <nav class="main-nav">
            <ul class="main-nav-list list">
                <li><a class="main-nav-link">Home</a></li>
                <li><a class="main-nav-link">About Us</a></li>
                <li><a class="main-nav-link">Services</a></li>
                <li><a class="main-nav-link mid-bold">Our Teams</a></li>
                <li><a class="main-nav-link contact-us-btn btn-nav">Contact Us</a></li>
            </ul>
        </nav>
    </header>


    <!-- <header class="header main-container">
        <a>
       <img src="../../../assets/icon/Dananz.svg" alt="logo" class="logo">
        </a>
       <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link">Home</a></li>
            <li><a  class="main-nav-link">About Us</a></li>
            <li><a  class="main-nav-link">Services</a></li>
            <li><a  class="main-nav-link mid-bold">Our Teams</a></li>
            <li><a  class="main-nav-link contact-us-btn btn-nav">Contact Us</a></li>
        </ul>
       
       </nav>
      
    </header> -->